<system xmlns="http://schema.paremus.com/sf/1.2" version="1.0.0" name="hello" boundary="fibre" repopath="">
    <description>
        A remote Greeting service and viewer - Declarative Services Version.
    </description>
    <admin group="demo"/>
    
    <!--  Declarative Services Greeting service  -->
    <system.part name="hello-app">
    
        <config pid="com.example.hello.impl.GreetingImpl">
            <property name="type" value="remote"/>
        </config>
        
        <contract features="(AppLayer=true)"/>

    </system.part>
    
    <!-- Remote Web viewer -->
    <system.part name="hello-web">

        <config pid="com.example.hello.web.HelloWorldServlet">
            <property name="greeting.target" value="(type=local)"/>
        </config>
        
        <config pid="com.example.hello.impl.GreetingImpl">
            <property name="type" value="local"/>
        </config>
        
        <contract features="(WebLayer=true)"/>

    </system.part>
</system>

